@import "tailwindcss";

.cover_image {
	width: 250px;
	height: 400px;
	object-fit: cover;
}

.scrollbar-hide {
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}